
html, body {
    padding: 0;
    margin: 0;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40%;
    left: 0;
}

.editor-panel {
    position: absolute;
    height: 40%;
    right: 0;
    left: 0;
    bottom: 0;
}

.editor-panel .panel {
    height: 100%;
}

.editor-panel .error {
    color: red;
}

.editor-panel .panel-body {
    overflow: scroll;
    height: 60%;
    padding: 0 14px;
}

#remainingCount {
    position: absolute;
    right: 23px;
    top: 18px;
    color: #aaa;
}